.container {
    background-color: white;
    width: 1000px;
    height: 900px;
    position: relative;
}

.prodotto {
    background-color: lightgray;
    width: 300px;
    height: 400px;
}

.uno {
    position: relative;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc.static-nike.com%2Fa%2Fimages%2Ft_PDP_1280_v1%2Ff_auto%2Fyledyxw7bnf6q2gds9r1%2Fscarpa-air-max-270-ptpZcg.jpg&f=1&nofb=1);
    background-size: cover;
}

.due {
    position: relative;
    bottom:400px;
    left: 300px;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc.static-nike.com%2Fa%2Fimages%2Ft_PDP_1280_v1%2Ff_auto%2Fri1pr5ogghi8fejhfc9q%2Fscarpa-react-element-55-DRf8mz.jpg&f=1&nofb=1);
    background-size: cover;
}

.tre {
    position: relative;
    bottom: 800px;
    left: 600px;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc.static-nike.com%2Fa%2Fimages%2Ft_PDP_1280_v1%2Ff_auto%2Fph6v8fcswvvqbfq44jdr%2Fscarpa-air-max-97-z3TlrlVN.jpg&f=1&nofb=1);
    background-size: cover;
}

.quattro {
    position: relative;
    bottom:800px;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc.static-nike.com%2Fa%2Fimages%2Ft_PDP_1280_v1%2Ff_auto%2Foayhdfynrmutq2bcsmpp%2Fscarpa-air-max-270-ntl0RF.jpg&f=1&nofb=1);
    background-size: cover;
}

.cinque {
    position: relative;
    bottom: 1200px;
    left: 300px;
    background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc.static-nike.com%2Fa%2Fimages%2Ft_PDP_1280_v1%2Ff_auto%2Fp2vzjgbe1gpuz1tylftl%2Fscarpa-air-max-270-ptpZcg.jpg&f=1&nofb=1);
    background-size: cover;
}

.sei {
    position: relative;
    bottom:1600px;
    left:600px;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc.static-nike.com%2Fa%2Fimages%2Ft_PDP_1280_v1%2Ff_auto%2Fp2vzjgbe1gpuz1tylftl%2Fscarpa-air-max-270-ptpZcg.jpg&f=1&nofb=1);
    background-size: cover;
}
