* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding:10px;
}

.container {
    width: 80%;
}

.box {
    position: relative;
    display: inline-block;
    background-color: lightgray;
    width: 300px;
    height: 400px;
}

.sconto {
    background-color: green;
    position: absolute;
    right: 0;
    top: 0;
}

.cuore {
    color: lightgray;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 30px;
}

.cuore:hover {
    color: red;
    cursor: pointer;
}

.scontored {
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
}

.rowdown {
    margin-top: 15px;
}
